.searchBar {
    padding-right: 0em;
    margin-right: 2em;
    float: right;
}

h3 {
    text-align: left;
}

.recents {
    padding-right: 1em;
    padding-left: 1em;
    text-align: center;
}

.stats {
    padding-right: 1em;
    padding-left: 1em;
    text-align: center;
}